## 1. Importar Paquetes

En primer lugar importamos los paquetes necesarios realizar análisis de datos con python.

In first place, we import the packages of data analysis with python.

In [1]:
import pandas as pd

## 2. Leer Archivos

Se cargan los archivos necesarios para llevar a cabo el análisis.

We load the necessary files to do the analysis.

In [2]:
df = pd.read_csv('/Users/josuequilapanfigueroa/Desktop/test/archive/3.1-data-sheet-udemy-courses-business-courses.csv')
df.head(2)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,49798.0,Bitcoin or How I Learned to Stop Worrying and ...,https://www.udemy.com/bitcoin-or-how-i-learned...,0.0,65576.0,936.0,24.0,All Levels,0.56,8.0,2013-04-20T02:25:22Z,Business Finance
1,48841.0,Accounting in 60 Minutes - A Brief Introduction,https://www.udemy.com/accounting-in-60-minutes...,0.0,56659.0,4397.0,16.0,Beginner Level,0.95,1.5,2013-04-07T21:39:25Z,Business Finance

### 2.1. Significado de las Columnas

El significado de las columnas es el siguiente:

*course_id*: es un id interno que se le asigna a cada curso (internal id assigned to each course).
*course_title*: es el título de cada curso (title of each course).
*url*: url de cada curso (url of each course).
*price*: precio en dólares de cada curso (price in dollars of each course).
*num_subscribers*:

## 3. Limpieza de Datos

Se comienza el proceso de explorar y limpiar los datos.

We start the exploratory and cleaning process for the data.

### 3.1. Información General

Una función útil para examinar dataframes en python es info(), que nos indica cuántas filas tiene nuestro dataframe, seguido de contar registros no nulos de cada columna y el tipo de dato que contiene.

A useful function to examine dataframes is info(), which tell us how many rows our dataframe has and a count of non-null data we have on each column and they data type.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192 entries, 0 to 1191
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            1191 non-null   float64
 1   course_title         1191 non-null   object
 2   url                  1191 non-null   object
 3   price                1191 non-null   float64
 4   num_subscribers      1191 non-null   float64
 5   num_reviews          1191 non-null   float64
 6   num_lectures         1191 non-null   float64
 7   level                1191 non-null   object
 8   Rating               1192 non-null   float64
 9   content_duration     1191 non-null   float64
 10  published_timestamp  1191 non-null   object
 11  subject              1191 non-null   object
dtypes: float64(7), object(5)
memory usage: 111.9+ KB

### 3.2. Valores Nulos

Como observamos anteriormente, tenemos un valor nulo en casi todas las columnas, por lo que podemos corroborar con la función isna() y sum().

As we saw previously, we have a null value in almost all columns, so we can corroborate this information with the function isna() and sum().

In [4]:
df.isna().sum()

course_id              1
course_title           1
url                    1
price                  1
num_subscribers        1
num_reviews            1
num_lectures           1
level                  1
Rating                 0
content_duration       1
published_timestamp    1
subject                1
dtype: int64

### 3.3. Limpieza de Valores Nulos

Al tener valores nulos existen distintos caminos que podemos tomar para trabajarlos: eliminarlos o sustituirlos. En este caso particular, vamos a eliminar la fila que contiene valores nulos usando la función dropna().

When we have null values there are different ways we can take to adress this problem: remove or replace the values. In this case, we are going to remove the row that contains the null values with the function dropna().

In [5]:
df1 = df.dropna()
df1.isna().sum()

course_id              0
course_title           0
url                    0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
Rating                 0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

## 4. Análisis de Datos

Una vez que los datos están limpios, podemos comenzar con los distintos análisis que se quisieran realizar.

Lo primero interesante que podemos hacer es usar la función describe(), la que nos dará un breve análisis descriptivo de las columnas con valores numéricos.

Once data is clean, we can start the different analysis we want to conduct.

The first move we can do is to apply the function describe(), which give us a descriptive analysis of the columns with numeric values.

In [6]:
df1.describe()

,course_id,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration
count,1.191000e+03,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000,1191.000000
mean,6.425519e+05,68.694374,1569.026868,63.729639,32.462636,0.690353,3.557697
std,3.476285e+05,64.439371,3918.394281,236.208555,45.512784,0.297227,5.673457
min,1.965300e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.644970e+05,20.000000,59.000000,3.000000,13.000000,0.470000,1.000000
50%,6.277720e+05,45.000000,486.000000,12.000000,22.000000,0.800000,2.000000
75%,9.266480e+05,95.000000,1617.000000,38.000000,36.000000,0.950000,4.000000
max,1.282064e+06,200.000000,65576.000000,4397.000000,544.000000,1.000000,71.500000